@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Coda:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply transition-colors duration-200;
}

/* :root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
} */

html {
  font-family: 'Coda', system-ui, sans-serif;
  color: black !important;
  /* background-color: #080821; */
  scroll-behavior: smooth;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.header {
  font-family: 'Righteous', sans-serif;
}

.w-wrapper {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
