---
import Footer from "src/components/footer.astro";
import Header from "src/components/header.astro";
import ThemeToggle from "src/components/theme-toggle";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Blog | limchinfeng">
	<ThemeToggle client:load />
	<div class="w-wrapper min-h-screen flex flex-col">
		<Header />
		<div class="flex flex-1 z-0 w-full">
      <!-- Blogs -->
      <div class="leading-relaxed space-y-3 text-justify text-light-text dark:text-dark-text mx-5 w-full">
        <h1 class="text-title text-xl font-bold">Blogs</h1>
        <p>Here, I share my thoughts on anything based on my mood hehe.</p>
        <div class="sm:py-20 py-10 -rotate-12">
          <div class="border-b border-light-text dark:border-dark-text w-2/3 mx-auto"> </div>
          <p class="text-center py-3">Coming soon!</p>
          <div class="border-b border-light-text dark:border-dark-text w-2/3 mx-auto"> </div>
        </div>
      </div>
		</div>
    <Footer />
  </div>
</Layout>
