---
import Footer from "src/components/footer.astro";
import Header from "src/components/header.astro";
import RightSection from "src/components/index/right-section.astro";
import StickProfile from "src/components/index/stick-profile.astro";
import ThemeToggle from "src/components/theme-toggle";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Home | limchinfeng">
	<ThemeToggle client:load />
	<div class="w-wrapper">
		<Header />
		<div class="flex sm:flex-row flex-col z-0 gap-8 mx-5">
			<StickProfile />
			<RightSection />
		</div>
		<Footer />
  </div>
</Layout>
