---
import ThemeToggle from '@/components/theme-toggle.tsx';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="relative min-h-screen dark:bg-dark-background bg-dark-light-background z-0">
    <ThemeToggle client:load />
  </div>
</Layout>
