---
import ThemeToggle from '@/components/theme-toggle.tsx';
import Header from '@/components/header.astro';
import Layout from '@/layouts/Layout.astro';
import StickProfile from '@components/index/stick-profile.astro';
import RightSection from '@components/index/right-section.astro';
import Footer from '@components/footer.astro';
---

<Layout title="Welcome to Astro.">
	<ThemeToggle client:load />
	<div class="w-wrapper">
		<Header />
		<div class="flex sm:flex-row flex-col z-0 gap-8 mx-5">
			<StickProfile />
			<RightSection />
		</div>
		<Footer />
  </div>
</Layout>
