---
import { Image } from "astro:assets";
import profilePicture from "/public/image/profile-picture.jpg";
---

<div class="flex flex-col text-light-text dark:text-dark-text w-full sm:w-1/4 sm:sticky sm:h-fit sm:top-10 mb-5 sm:mb-0">
  <Image 
    src={profilePicture}
    alt="supershuaifeng"
    class="w-20 h-auto rounded-full mb-5"
    draggable="false"
  />
  <h1>Hi, I'm <span class="text-title text-2xl font-bold leading-relaxed">Chin Feng</span></h1>
  <h2 class="text-sm">or supershuaifeng</h2>
  <h3 class="mt-2">A Software Engineering Student @ USM</h3>
  <ul class="mt-6 space-y-2">
    <li>
      <a href="https://www.linkedin.com/in/lim-chin-feng/" target="_blank">
        <span class=" hover:text-light-hover dark:hover:text-dark-hover transition"><i class="fa-brands fa-linkedin fa-lg mr-2"></i>Lim Chin Feng</i></span>
      </a>
    </li>
    <li>
      <a href="https://github.com/limchinfeng" target="_blank">
        <span class="hover:text-light-hover dark:hover:text-dark-hover transition group"><i class="fa-brands fa-github fa-lg mr-2"></i></i>limchinfeng</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/limchinfeng/" target="_blank">
        <span class="hover:text-light-hover dark:hover:text-dark-hover transition group"><i class="fa-brands fa-instagram fa-lg mr-2"></i></i>limchinfeng</span>
      </a>
    </li>
  </ul>
</div>